.about {
  padding: 70px 0 69px;
}
.about__inner {
}
.about__title {
  font-family: 'Forum';
  font-weight: 400;
  font-size: 24px;
  text-decoration: underline;
  color: #fff;
  text-align: center;
  margin-bottom: 67px;
}
.about__content {
  display: flex;
  justify-content: center;
}
.about__content-img {
  margin-right: 73px;
  width: 368px;
  height: 479px;
  object-fit: cover;
}
.about__content-text {
  max-width: 645px;
}
.about__content-title {
  font-family: 'Forum';
  text-align: center;
  font-size: 36px;
  margin-bottom: 25px;
  position: relative;

  &::after {
    content: '';
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    right: 36%;
    transform: translateY(-50%);
    background: url('../img/icons/heart-32x32.svg');
  }
}
.about__content-subtitle {
  font-family: 'Forum';
  text-align: center;
  font-size: 19px;
  margin-bottom: 18px;
}
.about__content-paragraph {
  line-height: 1.43;
  text-align: justify;
  margin-bottom: 21px;

  &:last-child {
    margin: 0;
  }
}
.about__content-emojy {
  position: relative;

  &::after {
    content: '';
    width: 23px;
    height: 23px;
    position: absolute;
    top: 50%;
    right: -25%;
    transform: translateY(-50%);
    background: url('../img/icons/heart-23x23.svg');
  }
}
